<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('../partials/head.ejs') %>
    <script>
        const roomId = "<%= roomId %>"
    </script>
</head>

<body>
    <main>
        
        <div className="room">
                          

                <div id="video-grid">
                    <h1 className="white-text flow-text">video</h1>
                </div>

                <div id="nav">

                    <button id="videobtn" className="btn-floating btn-large waves-effect waves-light light"><i class="material-icons">headset_mic</i></button>

                    <button id="videobtn" className="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">volume_off</i></button>

                    <button id="videobtn" className="btn-floating btn-large waves-effect waves-light light"><i className="material-icons">videocam</i></button>

                    <button id="videobtn" className="btn-floating btn-large waves-effect waves-light red"><i className="material-icons">videocam_off</i></button>

                    

                </div>

        </div>
        </main>
                          
           
                <div id="chat-box">


                           
                
                    <div id="chats">
                        <ul id="message-box">
                        </ul>
                    
                    </div>


                      

                    <div id="sendmsg">
                    <form id="msgform" action="">
                        <textarea 
                            className="white-text" 
                            autoComplete="off" 
                            id="message-input" 
                            type="text" 
                            name="msg"  
                            placeholder="Type to chat. Remember, be nice!" cols="10" rows="5"  
                            />
                        
                        <input
                            id="send-button"
                            className="btn grey darken-4 waves-effect waves-grey"
                            type="submit"
                            value="send"
                            
                            />
                    </form>
                </div>
            </div>
   </div>
</div>
    
</body>

</html>